$font-main: Verdana, Geneva, sans-serif;

/* - - - common styles for all project - - - */
html, body {
  background-color: #fff;
  height: 100%;
}

#root {
  height: 100%;
  min-width: 320px;
}

.rootComponent{
  height: 100%;
  position: relative;
}

.cssForApp{
  position: relative;
  z-index:999;
  width: 100%;
}

.cssForModalManager{
  position: fixed;
  top: 0;
  left: 0;
  z-index:9999;
  outline:2px solid red;
 /* z-index: -1;*/
}

* {
  font-family: $font-main;
  /*outline:1px solid red;*/
}

::-webkit-input-placeholder {
  color: #1a80b6;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #1a80b6;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #1a80b6;
  opacity: 0.5;
}
:-moz-placeholder {
  color: #1a80b6;
  opacity: 0.5;
}

/*----------------------------------------------------------------*/

/* - - - animation for css react transition and routing - - - */
.routing-fade-enter {
  opacity: 0.01;
}

.routing-fade-enter.routing-fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/

/* - - - animation for css for modal windows - - - */

.modalControlAnimation-enter {
  opacity: 0.01;
}

.modalControlAnimation-enter.modalControlAnimation-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.modalControlAnimation-appear {
  opacity: 0.01;
}

.modalControlAnimation-appear.modalControlAnimation-appear-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.modalControlAnimation-leave {
  opacity: 1;
}

.modalControlAnimation-leave.modalControlAnimation-leave-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}
/*----------------------------------------------------------------*/
