* {
 /* outline: 1px solid red;*/
}

.wrapAuth{
  height: 100%;
  width: 100%;
}

.authTop{
  width: 100%;
  background-color: #1a80b6;
}

.authFormContainer{
  width: 380px;
  position: relative;
  margin: 5% auto 0;
  padding-left: 15px;
  padding-right: 15px;
}

.authForm{

  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;

  &__header{
    padding: 15px 13px;
    margin: 0;
    border-bottom: 1px solid #e3e3e3;
    background: rgba(248,248,248,.9);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  &__main{
    padding: 25px 15px 5px;
    border: none;
    background: rgba(255,255,255,.9);
  }

  &__section{
    margin-bottom: 15px;
  }

  &__footer{
    text-align: right;
    padding: 15px;
    border-top: 1px solid #e3e3e3;
    background: rgba(248,248,248,.9);
  }

  &__label{
    display: block;
    line-height: 19px;
    font-weight: 400;
    font-size: 13px;
    color: #A2A2A2;
    text-align: left;
    white-space: normal;
    padding: 0 8px 6px;
  }

  &__btn{
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

  .authFormField{

    position: relative;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    display: block;
    width: 100%;

    &__icon{
      position: absolute;
      right: 5px;
      top: 5px;
      border-left: 1px solid rgb(189, 189, 189);
      max-width: 22px;
      width: 22px;
      height: 22px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      padding-left: 3px;
      color: #A2A2A2;
    }

    &__input{
      display: block;
      width: 100%;
      border: 1px solid rgb(189, 189, 189);
      outline: none;
      padding: 5px 37px 5px 10px;
      outline: 0;
      background: #fff;
      font-size: 13px;
      line-height: 32px;
      height: 32px;
      color: #404040;
    }

    &__tooltip{
      display: none;

      &--jsNewPosVisible{
        position: absolute;
        z-index: 1070;
        display: block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-break: auto;
        line-height: 1.42857;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        white-space: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        font-size: 12px;
        top: -50% !important;
        right: 0 !important;
        left: auto !important;
      }
    }

  }

}